@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --fontOne: "Alata", sans-serif;
  --fontTwo: "Josefin Sans", sans-serif;
  /* desktop background images */
  --desktop-header-image: url("/images/desktop/image-hero.jpg");
  --mobile-header-image: url("/images/mobile/image-hero.jpg");
  --desktop-infoSection-bg-image: url("/images/desktop/image-interactive.jpg");
  --mobile-infoSection-bg-image: url("/images/mobile/image-interactive.jpg");
  --menu-icon-hamburger: url("/images/icon-hamburger.svg");
  --menu-icon-close: url("/images/icon-close.svg");
  /* grid image desktop */
  --desktop-grid-image-curiosity: url("/images/desktop/image-curiosity.jpg");
  --desktop-grid-image-deep-earth: url("/images/desktop/image-deep-earth.jpg");
  --desktop-grid-image-fisheye: url("/images/desktop/image-fisheye.jpg");
  --desktop-grid-image-from-above: url("/images/desktop/image-from-above.jpg");
  --desktop-grid-image-grid: url("/images/desktop/image-grid.jpg");
  --desktop-grid-image-night-arcade: url("/images/desktop/image-night-arcade.jpg");
  --desktop-grid-image-pocket-borealis: url("/images/desktop/image-pocket-borealis.jpg");
  --desktop-grid-image-soccer-team: url("/images/desktop/image-soccer-team.jpg");
  /* grid mobile image */
  --mobile-grid-image-curiosity: url("/images/mobile/image-curiosity.jpg");
  --mobile-grid-image-deep-earth: url("/images/mobile/image-deep-earth.jpg");
  --mobile-grid-image-fisheye: url("/images/mobile/image-fisheye.jpg");
  --mobile-grid-image-from-above: url("/images/mobile/image-from-above.jpg");
  --mobile-grid-image-grid: url("/images/mobile/image-grid.jpg");
  --mobile-grid-image-night-arcade: url("/images/mobile/image-night-arcade.jpg");
  --mobile-grid-image-pocket-borealis: url("/images/mobile/image-pocket-borealis.jpg");
  --mobile-grid-image-soccer-team: url("/images/desktop/image-soccer-team.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--fontOne);
}

/* menu helper classes classes  start */
/* menu style start */
.mobileMenu {
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  left: -100%;
  height: 100vh;
  z-index: 1000;
  padding: 10%;
  padding-top: 5%;
  transition: all 0.3s;
}
.mobileMenu .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobileMenu .head h2 {
  margin-bottom: 25px;
}
.mobileMenu .head i {
  background-image: var(--menu-icon-close);
  width: 20px;
  display: inline-block;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mobileMenu .body nav ul {
  list-style: none;
}
.mobileMenu .body nav ul li {
  margin-top: 10px;
}

.mobileMenu .body nav ul li a {
  text-decoration: none;
  color: var(--Dark-Gray);
  font-family: var(--fontTwo);
  font-size: 25px;
}
/* menu style end */
.showMenu {
  left: 0 !important;
}
.hadeMenu {
  left: -100% !important;
}
/* menu helper classes classes  end */
